.row_images{
    display: flex;
    // overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;

    .row_image{
        object-fit: contain;
        width: 100%;
        max-height: 150px;
        margin-right: 10px;
        transition: transform 450ms;
    }
    .row_image:hover{
        transform: scale(1.08);
        // opacity: 1;
    }
}
.row_images::-webkit-scrollbar{
    display: none;
}
// .row_poster{
//     object-fit: contain;
//     width: 100%;
//     max-height: 50px;
//     margin-right: 10px;
//     transition: transform 450ms;
// }
// .row_poster:hover{
//     transform: scale(1.08);
//     // opacity: 1;
// }